{#
/**
 * @file
 * Theme override for an image field widget.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - data: Render elements of the image widget.
 *
 * @see template_preprocess_image_widget()
 */
#}
{{ attach_library('classy/image-widget') }}
{{ attach_library('ninghao_ui/ui.item') }}
<div{{ attributes.addClass('ui items') }}>
  <div class="item">
    {% if data.preview %}
      <div class="image">
        {{ data.preview }}
      </div>
    {% endif %}
    <div class="content">
      {# Render widget data without the image preview that was output already. #}
      {{ data|without('preview') }}
    </div>
  </div>
</div>
